{% extends 'base.html' %}

{% block content %}
 
<div class="card">
    <div class="card-header"><strong>
          {{ customer_record.title }} </strong>
    </div>
    <div class="card-body">
  
  
  
  <p class="card-text">
  <strong>Decsription: </strong>{{ customer_record.decsription }}</p>
  
  <p class="card-text">
  <strong>Completion: </strong>{{ customer_record.completion }}
  </p>
  
  <p class="card-text">
  <strong>created_at: </strong>{{ customer_record.created_at }}</p>
  
  <p class="card-text">
  <strong>ID: </strong>{{ customer_record.id }}</p>
      
      
    </div>
  </div>
  
  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>




{% endblock %}